body {
  background-color: #E1E6E4;
}

#wrapper {
  margin: 24px auto;
  width: 1400px;
  padding: 24px;
  background-color: #E1E6E4;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 12px;
  border: 1px solid red;
}

header {
  grid-column: span 9;
  text-align: center;
}
header img {
  padding: 10px;
  margin: 20px;
  border-radius: 45px;
  text-align: center;
}
main {
  margin: 0px;
  grid-column: span 9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #5A5A5A;
}
main h2 {
  border-bottom: 4px solid #5A5A5A;
  font-family: century-gothic,sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #5A5A5A;
}
main img {
  grid-column: span 1;
  padding: 0px;
  margin-left: 10px;
}
#text {
  grid-column: span 2;
}

nav ul {
  grid-column: span 9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
list-style-type: none;
margin: 0px;
margin-left: 135px;
padding: 0px;
}
nav li {
vertical-align: middle;
line-height: 123px;
text-align: center;
font-family: century-gothic,sans-serif;
font-weight: 700;
font-size: 56px;
font-style: normal;
display: inline-block;
font-weight: bold;
margin: 40px;
}
nav li a {
background-color: #BAD1C6;
color:#799A81;
display: block;
padding: 10px;
text-decoration: none;
transition: background-color 1.0s, width 1.0s, color 1.0s;
width: 270px;
height: 123px;
border: 2px solid #BAD1C6;
background-color: #BAD1C6;
border-radius: 40px;
}
nav li a:hover {
background-color: #91B4A3;
}

.circle {
  padding: 10px;
  width: 325px;
  height: 325px;
  border-radius: 500px;
}

#socials {
font-size: 100px;
margin-right: 65px;
text-align: center;
}
aside a {
color: #BAD1C6;
}
aside a:hover {
color: #91B4A3;
transition: background-color 1.0s, width 1.0s, color 1.0s;
}

/*gallery page*/
/* .roundedbox3 {
  text-align: left;
  grid-column: span 3;
  padding: 0px;
  margin: 0px;
  width: 359px;
  border-radius: 25px;
}
aside nav li a {
background-color: #BAD1C6;
color:#799A81;
display: block;
padding: 10px;
text-decoration: none;
transition: background-color 1.0s, width 1.0s, color 1.0s;
width: 247px;
height: 151px;
border: 2px solid #BAD1C6;
background-color: #BAD1C6;
border-radius: 40px;
}
aside nav li {
vertical-align: middle;
line-height: 151px;
text-align: center;
font-family: century-gothic,sans-serif;
font-weight: 700;
font-size: 50px;
font-style: normal;
display: inline-block;
font-weight: bold;
margin: 15px;
}
aside nav li a:hover {
background-color: #91B4A3;
color: #799A81;
}

main div img{
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.pin_container {
  border: 1px solid red;
    margin: 24px;
    padding: 0px;
    width: 1400px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: var(--row_increment);
}

.card {
    padding: 0;
    margin: 15px 10px;
    border-radius: var(--card_border_radius);
    background-color: #91B4A3;
}
.card_xsmall {
    grid-row-end: span var(--card_xsmall);
    margin: 10px;
   padding: 0px;
   overflow: hidden;
}
.card_small {
    grid-row-end: span var(--card_small);
    margin: 10px;
   padding: 0px;
   overflow: hidden;
}

.card_medium {
    grid-row-end: span var(--card_medium);
    margin: 10px;
   padding: 0px;
   overflow: hidden;
}

.card_large {
    grid-row-end: span var(--card_large);
    margin: 10px;
   padding: 0px;
   overflow: hidden;
 }  */
